.BadgeEdit__hero {
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/starts.svg'), #1B1B25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;

  display: flex;
  justify-content: center;
}
/* .Edit{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.BadgeEdit__hero-image {
  max-height: 100px;
}
.Edit-badges{
  display: flex;
}
.Badge-edit, .Badge-form{
  width: 45%;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .Edit-badges{
    display: block;
    width: 100%;
  }
  .Badge-edit, .Badge-form{
    width: 100%;
    margin-right: 20px;
    margin-bottom: 15px;
  }
  .Badge-edit{
    text-align: center;
  }
}