.BadgeDetails__hero {
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/starts.svg'), #1B1B25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #fff;
}
.Actions{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.h2{
  background: #662E57;
    color: white;
    padding: 8px 20px;
    /* border: solid 3px #FF6838; */
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}
.Edit-badge{
  padding-right: 48px;
}
.BadgeDetails__hero-attendant-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BadgeDetails__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .Actions{
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
  }
}

